




body {
font-family: 'Poppins';
}


/* HERO SECTION */
.site-hero {
background-color: #ccc;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position: relative;
overflow: hidden; }
.site-hero, .site-hero .row {
height: 100vh;
min-height: 800px; }
.site-hero:before {
content: "";
position: absolute;
width: 100%;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.5); }
.site-hero h1 {
font-weight: 200;
margin-bottom: 20px;
display: block; }
.site-hero h1 strong {
font-weight: 800; }
@media (min-width: 768px) {
.site-hero h1 {
font-size: 70px; } }
.site-hero h1, .site-hero .lead {
font-weight: 200;
color: #fff; }
.site-hero .lead {
line-height: 2; }

.site-section {
padding: 5em 0; }

.section-heading {
margin-bottom: 30px;
position: relative;
z-index: 10; }
.section-heading h2 {
position: relative;
font-weight: 200;
padding-top: 20px;
font-size: 30px; }
.section-heading h2 strong {
font-weight: 800; }
.section-heading.text-center h2:before {
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%); }

/* HERO SECTION */


/* NAVBAR */
.navbar-brand img {
width: 250px;
height: 50px;
}

header {
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 5;
padding: 0px 0; }
@media (min-width: 768px) {
header {
padding: 30px 0; } }
header .navbar-brand {
text-transform: uppercase;
letter-spacing: .2em;
font-weight: 800;
font-size: 2rem; }
header .navbar-brand.absolute {
position: absolute; }
@media (max-width: 991.98px) {
header .navbar-brand.absolute {
position: relative; } }
header .navbar-brand span {
color: #fff; }
@media (min-width: 768px) {
header .navbar-brand span {
color: #ced4da; } }
header .navbar {
background: black !important;
padding-top: .5rem;
padding-bottom: .5rem; }
@media (min-width: 768px) {
header .navbar {
padding-top: 0;
padding-bottom: 0;
background: none !important;
position: relative; } }
header .navbar .nav-link {
padding: 1.7rem 1rem;
outline: none !important;
font-size: 1rem;
color: rgba(255, 255, 255, 0.8) !important; }
@media (max-width: 1199.98px) {
header .navbar .nav-link {
padding: .5rem 0rem; } }
header .navbar .nav-link.active {
color: #fff !important; }
header .navbar .dropdown-menu {
font-size: 14px;
border-radius: 4px;
border: none;
-webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
min-width: 13em;
margin-top: -10px; }
header .navbar .dropdown-menu:before {
bottom: 100%;
left: 10%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-bottom-color: #fff;
border-width: 7px; }
@media (max-width: 991.98px) {
header .navbar .dropdown-menu:before {
display: none; } }
header .navbar .dropdown-menu .dropdown-item:hover {
background: #BC6C25;
color: #fff; }
header .navbar .dropdown-menu .dropdown-item.active {
background: #BC6C25;
color: #fff; }
header .navbar .dropdown-menu a {
padding-top: 7px;
padding-bottom: 7px; }
header .navbar .cta-btn a {
background: #BC6C25;
color: #fff !important;
text-transform: uppercase;
font-size: .8rem;
padding: 15px 20px !important;
line-height: 1;
font-weight: bold;
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; }
header .navbar .cta-btn a:hover {
background: #fff;
color: #BC6C25 !important;
-webkit-box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2);
box-shadow: 2px 0 30px -5px rgba(0, 0, 0, 0.2); }
/* NAVBAR */


/* BENEFITS AND FEAUTRES SECTION */
.benefits .card-body img {
padding: 2rem;
height: 400px;
width: 400px;
}
.benefits.card {
height: 500px;
}

.benefits .card-body h5, 
.benefits .card-body p {
text-align: center;
}

.red{
color: red !important;
}
/* BENEFITS AND FEAUTRES SECTION */



/* TESTIMONIALS SECTION */
.carousel-item img {
border-radius: 10px;
width: 100vh;
height: 95vh;
}
/* TESTIMONIALS SECTION */

/* BLOCK DIVIDER */
.style-one hr {
border: 0;
height: 1px;
background: #333;
background-image: linear-gradient(to right, #ccc, #333, #ccc);
margin-top: 0;
margin-bottom: 0;
}
/* BLOCK DIVIDER */

/* ITEMS SECTION */

.section-title {
margin-bottom: 50px;
text-align: center;
}

.section-title h2 {
color: #1c1c1c;
font-weight: 700;
position: relative;
}

.section-title h2:after {
position: absolute;
left: 0;
bottom: -15px;
right: 0;
height: 4px;
width: 70vh;
background: #BC6C25;
content: "";
margin: 0 auto;
}

.featured {
padding-top: 80px;
padding-bottom: 40px;
}

.featured__controls {
text-align: center;
margin-bottom: 50px;
}

.featured__controls ul li {
list-style: none;
font-size: 18px;
color: #1c1c1c;
display: inline-block;
margin-right: 25px;
position: relative;
cursor: pointer;
}

.featured__controls ul li.active:after {
opacity: 1;
}

.featured__controls ul li:after {
position: absolute;
left: 0;
bottom: -2px;
width: 100%;
height: 2px;
background: #BC6C25;
content: "";
opacity: 0;
}

.featured__controls ul li:last-child {
margin-right: 0;
}

.featured__item {
margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
bottom: 20px;
}

.featured__item__pic {
height: 270px;
position: relative;
overflow: hidden;
background-position: center center;
}

.featured__item__pic__hover {
position: absolute;
left: 0;
bottom: -60px;
width: 100%;
text-align: center;
-webkit-transition: all, 0.5s;
-moz-transition: all, 0.5s;
-ms-transition: all, 0.5s;
-o-transition: all, 0.5s;
transition: all, 0.5s;
}

.featured__item__pic__hover li {
list-style: none;
display: inline-block;
margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
margin-right: 0;
}

.featured__item__pic__hover li:hover a {
background: #BC6C25;
border-color: #BC6C25;
}

.featured__item__pic__hover li:hover a i {
color: #ffffff;
transform: rotate(360deg);
}

.featured__item__pic__hover li a {
font-size: 16px;
color: #1c1c1c;
height: 40px;
width: 40px;
line-height: 40px;
text-align: center;
border: 1px solid #ebebeb;
background: #ffffff;
display: block;
border-radius: 50%;
-webkit-transition: all, 0.5s;
-moz-transition: all, 0.5s;
-ms-transition: all, 0.5s;
-o-transition: all, 0.5s;
transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
position: relative;
transform: rotate(0);
-webkit-transition: all, 0.3s;
-moz-transition: all, 0.3s;
-ms-transition: all, 0.3s;
-o-transition: all, 0.3s;
transition: all, 0.3s;
}

.featured__item__text {
text-align: center;
padding-top: 15px;
}

.featured__item__text h6 {
margin-bottom: 10px;
}

.featured__item__text h6 a {
color: #252525;
}

.featured__item__text h5 {
color: #252525;
font-weight: 700;
}

/* for item image */
.set-bg {
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

.spad {
padding-top: 100px;
padding-bottom: 100px;
}

/* ITEM SECTION */

/* TOPPINGS SECTION */

.marketing .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.marketing h2 {
font-weight: 400;
}
.marketing .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}
/* TOPPINGS SECTION */

/* CAROUSEL FOR TOPPINGS */
.content {
padding: 7rem 0; }

.media-29101 {
text-align: center; }
.media-29101 img {
margin-bottom: 20px;
border-radius: 50%;
width: 140px !important;
height: 140px;
margin: 0 auto 40px auto; }
.media-29101 h3 {
font-size: 18px;
font-weight: 900 !important;
margin-bottom: 30px; }
.media-29101 h3 a {
color: #6c757d; }

.owl-2-style .owl-nav {
display: none; }

.owl-2-style .owl-dots {
text-align: center;
position: relative;
bottom: -30px; }
.owl-2-style .owl-dots .owl-dot {
display: inline-block; }
.owl-2-style .owl-dots .owl-dot span {
display: inline-block;
width: 7px;
height: 7px;
border-radius: 0px;
background: #cccccc;
-webkit-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
-o-transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
transition: 0.3s all cubic-bezier(0.32, 0.71, 0.53, 0.53);
margin: 3px;
border-radius: 50%; }
.owl-2-style .owl-dots .owl-dot.active span {
background: #BC6C25; }
.owl-2-style .owl-dots .owl-dot:active, .owl-2-style .owl-dots .owl-dot:focus {
outline: none; }
/* CAROUSEL FOR TOPPINGS */

/* VISIT US SECTION */
.section-visit {
padding: 7em 0;
}
.divider {
width: 70px;
height: 6px;
background: #000;
display: inline-block;
position: relative;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
.section-title-visit {
text-transform: uppercase;
font-weight: 300;
}

.section-title-visit strong {
font-weight: 700;
}
.d-block {
display: block !important;
}
.text-uppercase {
text-transform: uppercase !important;
}
.text-secondary {
color: #6c757d !important;
}
.btn-outline-black {
border: 2px solid #000;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
border-radius: 0px;
padding: 10px 20px;
color: #000;
}

.btn-outline-black:hover {
color: #fff;
background: #000;
border-color: #000;
}
.img-fluid-visit {
max-width: 100%;
height: auto;
}
.img-dotted-bg {
position: relative;
}

.img-dotted-bg img {
-webkit-box-shadow: 20px 20px 0 0 #eee;
box-shadow: 20px 20px 0 0 #eee;
}

.img-dotted-bg:after {
position: absolute;
content: "";
z-index: -1;
background: url("../images/dotted.jpg") repeat;
bottom: -50px;
right: -50px;
width: 200px;
height: 400px;
}
/* VISIT US SECTION */


.container .party-pack {
max-width: 960px;
}

.pricing-header {
max-width: 700px;
}

.card-deck .card {
min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.flex-equal > * {
-ms-flex: 1;
-webkit-box-flex: 1;
flex: 1;
}
@media (min-width: 768px) {
.flex-md-equal > * {
-ms-flex: 1;
-webkit-box-flex: 1;
flex: 1;
}
}
.overflow-hidden { overflow: hidden; }
/* PARTY PACK */

/* CONTACT SECTION */

.ftco-section {
padding: 7em 0;
position: relative; }
@media (max-width: 767.98px) {
.ftco-section {
padding: 6em 0; } }
.dbox {
width: 100%;
margin-bottom: 25px; }
@media (max-width: 767.98px) {
.dbox {
margin-bottom: 25px !important;
padding: 0 20px; } }
.dbox p {
margin-bottom: 0; }
.dbox p span {
font-weight: 500;
color: #000000; }
.dbox p a {
color: #BC6C25; }
.dbox .icon {
width: 60px;
height: 60px;
border-radius: 50%;
background: #BC6C25;
margin: 0 auto;
margin-bottom: 20px; }
.dbox .icon span {
font-size: 20px;
color: #fff; }
.dbox .text {
width: 100%; }

.wrapper-contact {
width: 100%; }

.contact-wrap {
background: #fff; }

@media (max-width: 767.98px) {
.info-wrap {
height: 400px; } }   


/* CONTACT SECTION */
.contactForm .label {
color: #BC6C25;
text-transform: uppercase;
font-size: 12px;
font-weight: 600; }

.contactForm .form-control {
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
padding: 0; }
/* CONTACT SECTION */

/* FOOTER */
.footer {
background-color: #202126;
padding: 7rem 0;
color: #888;
font-size: 16px; 
}

.footer, .footer h3 {
font-family: "Poppins", sans-serif; }

.footer h3 {
font-size: 20px;
color: #fff;
margin-bottom: 30px; 
}

.footer p {
font-family: "Source Serif Pro", serif; 
}

.footer .row.gallery {
margin-right: -5px;
margin-left: -5px; 
}

.footer .row.gallery > [class^="col-"],
.footer .row.gallery > [class*=" col-"] {
padding-right: 5px;
padding-left: 5px; 
}

.footer .gallery a {
display: block;
margin-bottom: 10px;
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; 
}

.footer .gallery a:hover {
opacity: .5; 
}

.footer .quick-info li {
color: #fff;
font-size: 16px;
margin-bottom: 10px; 
}


.footer .quick-info li a { color: #fff;}

/*footer Socials*/
/* Whatsapp */
.footer .quick-info .icon {
color: green;
}

/* Gmail */
.footer .quick-info .icon-2 {
color: red;
}

/* Instagram */
.footer .quick-info .icon-4 {
color: orange;
}

/* Facebook */
.footer .tweets .icon-3,
.footer .quick-info .icon-3 {
color: #007bff;
}

.footer .subscribe { position: relative;}

.footer .subscribe .form-control {
background-color: #292b31;
-webkit-box-shadow: none;
box-shadow: none;
border-radius: 30px;
height: 55px;
padding-left: 30px;
padding-right: 130px;
border: none;
color: #fff; 
}

.footer .subscribe .form-control::-webkit-input-placeholder {
color: #ccc;
font-size: 14px; 
}

.footer .subscribe .form-control::-moz-placeholder {
color: #ccc;
font-size: 14px; 
}

.footer .subscribe .form-control:-ms-input-placeholder {
color: #ccc;
font-size: 14px; 
}

.footer .subscribe .form-control:-moz-placeholder {
color: #ccc;
font-size: 14px; 
}

.footer .subscribe .btn-submit {
background: #f88020;
height: 47px;
border-radius: 30px;
padding-left: 30px;
padding-right: 30px;
color: #fff;
font-weight: bold;
position: absolute;
top: 4px;
right: 4px;
-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
}

.footer .tweets li {
margin-bottom: 20px;
font-size: 15px;
font-style: italic;
font-family: "Source Serif Pro", serif; 
}
.footer .d-flex a {
font-style: normal;
color: #fff;
}

.footer .tweets li span {color: #fff;}

.footer .footer-menu-wrap {
border-top: 1px solid rgba(255, 255, 255, 0.1);
padding-top: 2rem !important;
margin-top: 7rem; 
}

.footer .footer-menu {margin-bottom: 0;}

.footer .footer-menu li {display: inline-block; }
@media (max-width: 767.98px) {
.footer .footer-menu li {
display: block; } }
.footer .footer-menu li a {
padding: 10px;
display: inline-block;
color: #fff; 
}

@media (max-width: 767.98px) {
.footer .footer-menu li a {
float: left;
padding-left: 1rem; 
} 
}
.footer .footer-menu li:first-child a {padding-left: 1rem; }
.footer-widget h3 { margin-bottom: 30px;}

.contact-link{
display:inline-block;
width: 100%;
color: #333;}



.open-hours li span {
width: 100%;
color: rgba(255, 255, 255, 0.7); }
/* FOOTER */


